.container{
  background-color: silver;
  padding-top: 10px;
}
.heading {
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  height: 3em;
  margin-bottom: 10px;
}
#title {
  height: 3em;
  margin: 5px;
  text-align: center;
  margin-bottom: 10px;
}
#heading{
  margin: 5px;
  padding-top: 10px;
}
.col-md-2 {
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: thin;
  border-radius: 10px;
}

.col-md-4 {
  text-align: center;
}

#left {
  color: white;
  text-align: center;
}

#right {
  color: white;
  text-align: center;
}

#top {
  margin-bottom: 10px;
  height: 3em;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
}

#topRight {
  margin-bottom: 10px;
  height: 3em;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
}

#bottom {
  border-style: solid;
  border-radius: 5px;
  border-color: white;  background-color: white;
  height: 10em;
  text-align: center;
}

#bottomRight {
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  height: 10em;
  text-align: center;
}
.button{
}
