.container{
  background-color: silver;
  padding-top: 10px;
}
.heading {
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  height: 3em;
  margin-bottom: 10px;
}
#title {
  height: 3em;
  margin: 5px;
  text-align: center;
  margin-bottom: 10px;
}
#heading{
  margin: 5px;
  padding-top: 10px;
}
.col-md-2 {
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: thin;
  border-radius: 10px;
}

.col-md-4 {
  text-align: center;
}
